@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Varela');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela', sans-serif;
  color: #222222;
}

div { box-sizing: border-box; }

h2 { margin: 0; }

form { display: inline-block; }

.app {

  .app-header {
    height: 5em;
    color: #222;
    border-bottom: 1px solid #EBEBEB;
  
    .logo-container, .item-input, .vertical-align-helper {
      display: inline-block;
      vertical-align: middle;
    }

    .logo-container {
      width: 20%;
      min-width: 5em;
      height: 100%;
      text-align: center;
      border-right: 1px solid #EBEBEB;

      h2, img, .logo-alignment-helper {
        display: inline-block;
        vertical-align: middle;
      }

      h2 { margin-right: 0.5em; }

      img {
        width: 3em;
        margin: 0;
        animation: app-logo-spin infinite 10s linear;
      }

      @keyframes app-logo-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }

      .logo-alignment-helper {
        height: 5em;
        display: inline-block;
        background: yellow;
      }
    }

    .item-input {
      width: 79.8%;
      padding: 0.75em;

      .fa-search { color: #A1A1A1; }

      input {
        width: 25em;
        height: 2em;
        margin-left: 0.5em;
        border: none;

        &:focus { outline: none; }

        &::-webkit-input-placeholder { font-family: 'Varela', sans-serif; }
        
        &:-ms-input-placeholder { font-family: 'Varela', sans-serif; }
        
        &:-moz-placeholder { font-family: 'Varela', sans-serif; }
        
        &::-moz-placeholder {
          font-family: 'Varela', sans-serif;
        }
      }

      button { opacity: 0; }
    }

    .vertical-align-helper {
      width: 1px;
      height: 5em;
      display: inline-block;
    }
  }

  .toolbar {
    width: 100%;
    height: 3em;
    padding: 0.5em 1em;
    border-bottom: 1px solid #EBEBEB;
    color: #757575;
    text-align: right;

    .sort-by-price {
      display: inline-block;
      border: 1px solid #EBEBEB;
      padding: 0.4em;
      border-radius: 2px;

      &:hover { cursor: pointer; }

      &:active {
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #867979;
      }
    }

    .fa { padding-left: 0.5em; }

    .hide { display: none; }
  }


  .list-map-container {
    width: 100%;
    position: absolute;
    height: 100vh;
  
    .list-container, .map-container {
      display: inline-block;
      width: 50%;
      // height: 100%;
      vertical-align: top;
    }
  
    .list-container {
      overflow-y: scroll;
      height: 100vh;
  
      .food-item-container {
        box-sizing: border-box;
        width: 100%;
        height: 8em;
        margin: 0;
        padding: 1em;
        border-bottom: 1px solid #EBEBEB;
        text-align: left;
        overflow: hidden;
  
        &:hover { background: #F9F9F9; }

        .item-name, .price {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
        }

        .item-name, .description { width: 75%; }

        .item-name {
          text-transform: capitalize;
          color: #333333;
        }

        a {
          text-decoration: none;
          color: #40D9AB;

          &:hover { color: darken(#40D9AB, 7%); }

          p { margin-top: 0.5em; }
        }
        
        .description { color: #A1A1A1; }

        .price {
          float: right;
          color: #3BA3F8;
          font-size: 1.5em;
        }
      }
    }

    .map-container {
      
      .location-waiting {
        text-align: center;
        margin-top: 10em;
      }
    }
  }

  .fade { opacity: 0.4; }
}




